{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svcfgsustanciapeligrosas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for svCfgSustanciaPeligrosa in svCfgSustanciaPeligrosas %}
            <tr>
                <td><a href="{{ path('svcfgsustanciapeligrosa_show', { 'id': svCfgSustanciaPeligrosa.id }) }}">{{ svCfgSustanciaPeligrosa.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('svcfgsustanciapeligrosa_show', { 'id': svCfgSustanciaPeligrosa.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
