/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
angular/app/view/layout.html
angular/app/view/layout.html

angular/app/components/ciudadanoVehiculo/new.ciudadanoVehiculo.component.js.map
angular/app/components/tipoTramite/tramiteCuerpo/index.tramiteCuerpo.component.js.map
angular/npm-debug.log
angular/app/components/subirCarpeta/index.subirCarpeta.component.js.map
composer.lock
composer.lock
.vscode/settings.json
composer.lock
composer.lock