<br>
<hr>
<h3>Ciudadanos Vehiculo</h3>
<hr>
<div class="identity-data" *ngIf="respuesta">
        <div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
            {{respuesta.msj}}
        </div>
        <div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
            {{respuesta.msj}}
        </div>
    </div>
	<div class="table-responsive">
    <a [routerLink]="['/ciudadanoVehiculo/new']" class="btn btn-success">
         Nuevo
    </a>
    <br>
    <br>
    
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ciudadano</th>
                    <th>ciudadanoVehiculo</th>
                    <th>licencia Transito</th>
                    <th>fecha Propiedad Inicial</th>
                    <th>fecha Propiedad Final</th>
                    <th>estado Propiedad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#ciudadanoVehiculo of ciudadanoVehiculos">
                    <td >{{ciudadanoVehiculo.id}}</td>
                    <td >{{ciudadanoVehiculo.ciudadano.nombres}}</td>
                    <td >{{ciudadanoVehiculo.vehiculo.placa}}</td>
                    <td >{{ciudadanoVehiculo.licenciaTransito}}</td>
                    <td >{{ciudadanoVehiculo.fechaPropiedadInicial}}</td>
                    <td >{{ciudadanoVehiculo.fechaPropiedadFinal}}</td>
                    <td >{{ciudadanoVehiculo.estadoPropiedad}}</td>
                    <td>
                    <button class="btn btn-danger" value="Editar" (click)="deleteCiudadanoVehiculo(ciudadanoVehiculo.id)">
						eliminar
					</button>
                        
        	        <a [routerLink]="['/ciudadanoVehiculo/show',ciudadanoVehiculo.id]" class="btn btn-info">
                         Editar
                    </a>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>