 <div class="col-md-12">
	
    <div class="identity-data" *ngIf="respuesta">
		<div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
			{{respuesta.msj}}
		</div>
		<div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
			{{respuesta.msj}}
		</div>

		
	</div>
	<br>



	<form #newVehiculo="ngForm" (ngSubmit)="onSubmit()" class="col-md-12"> 

		<div class="panel panel-primary">
		  <div class="panel-heading">Reguistrar ciudadano vehiculo</div>
		  <div class="panel-body">

				<div class="col-md-6">
				  		<div  [class]="calse">
						  <input [(ngModel)]="ciudadanoVehiculo.vehiculoId" (blur)="onKey($event)" (keyup.enter)="onKey($event)" type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" placeholder="Placa Vheiculo">
						  <span [class]="claseSpan" aria-hidden="true"></span>
						</div>

						<div *ngIf="validate" class="panel panel-info">
						  <div class="panel-heading">{{msg}}</div>
						  <div class="panel-body">
							    <table class="table table-bordered">
						            <thead>
						                <tr>
						                    <th>Linea</th>
						                    <th>Marca</th>
						                    <th>Clase</th>
						                    <th>Modelo</th>
						                    
						                </tr>
						            </thead>
						            <tbody>
						                <tr>
						                    <td >{{vehiculo.linea.nombre}}</td>
						                    <td >{{vehiculo.linea.marca.nombre}}</td>
						                    <td >{{vehiculo.clase.nombre}}</td>
						                    <td >{{vehiculo.modelo}}</td>
						                </tr>
						            </tbody> 
						        </table>
						  </div>
						</div>

						<div  [class]="calseCedula">
						  <input [disabled]="!validate" [(ngModel)]="ciudadanoVehiculo.ciudadanoId" (blur)="onKeyCiudadano($event)" (keyup.enter)="onKeyCiudadano($event)" type="number" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" placeholder="Numero de Identificacion ciudadano">
						  <span [class]="claseSpanCedula" aria-hidden="true"></span>
						</div>

						<div *ngIf="validateCedula" class="panel panel-info">
						  <div class="panel-heading">{{msgCiudadano}} encontrado</div>
						  <div class="panel-body">
							    <table class="table table-bordered">
						            <thead>
						                <tr>
						                    <th>nombre</th>
						                    <th>apellido</th>
						                    <th>direccion</th>
						                    <th>correo</th>
						                    
						                </tr>
						            </thead>
						            <tbody>
						                <tr>
						                    <td >{{ciudadano.nombres}}</td>
						                    <td >{{ciudadano.apellidos}}</td>
						                    <td >{{ciudadano.direccion}}</td>
						                    <td >{{ciudadano.correo}}</td>
						                </tr>
						            </tbody> 
						        </table>
						  </div>
						</div>
				</div>

			    <div class="col-md-6">

						<p class="col-md-6">
							<label >licencia transito:</label>
							<input #licenciaTransito="ngForm"  type="text" class="form-control" [(ngModel)]="ciudadanoVehiculo.licenciaTransito" ngControl="licenciaTransito"  required />
							<span *ngIf="!licenciaTransito.valid && licenciaTransito.touched" style="color:red;">licenciaTransito obligatorios</span>
							<br>
						</p>


						<p class="col-md-6">
						    <label >fecha Propiedad Inicial:</label>
							<input type="date" class="form-control" #fechaPropiedadInicial="ngForm" ngControl="fechaPropiedadInicial" [(ngModel)]="ciudadanoVehiculo.fechaPropiedadInicial"  required />
							<span *ngIf="!fechaPropiedadInicial.valid && fechaPropiedadInicial.touched" style="color:red;">fecha Nacimiento obligatorios</span>
						</p>
						<div class="clearfix"></div>


						<p class="col-md-6">
						    <label >fecha Propiedad Final:</label>
							<input type="date" class="form-control" #fechaPropiedadFinal="ngForm" ngControl="fechaPropiedadFinal" [(ngModel)]="ciudadanoVehiculo.fechaPropiedadFinal"  required />
							<span *ngIf="!fechaPropiedadFinal.valid && fechaPropiedadFinal.touched" style="color:red;">fecha Nacimiento obligatorios</span>
						</p>

						<p class="col-md-6">
						    <label >estado Propiedad:</label>
							<input #estadoPropiedad="ngForm"  type="text" class="form-control" [(ngModel)]="ciudadanoVehiculo.estadoPropiedad" ngControl="estadoPropiedad"  required />
							<span *ngIf="!estadoPropiedad.valid && estadoPropiedad.touched" style="color:red;">estadoPropiedad obligatorios</span>
							<br>
						</p>

							
						<br>
				        <p class="col-md-12"> 
				        
					    <input  type="submit" value="LLena los Campos" class="btn btn-success col-md-12"  
						[disabled]="!validate || !newVehiculo.valid || !validateCedula"/>
					    
					    </p>
			    </div>			
				
		  </div>
		</div>
	</form>

</div>