<br>
<hr>
<h3>Municipios:</h3>
<hr>
	<div class="table-responsive">
    <a [routerLink]="['/municipio/new']" class="btn btn-success">
         Nuevo
    </a>
    <br>
    <br>
    <div class="identity-data" *ngIf="respuesta">
        <div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
            {{respuesta.msj}}
        </div>
        <div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
            {{respuesta.msj}}
        </div>
    </div>
        <table class="table  table-condensed table-responsive table-bordered ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Departamento</th>
                    <th>Codigo Dian</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
               <tr *ngFor="#municipio of municipios">
                    <td >{{municipio.id}}</td>
                    <td >{{municipio.nombre}}</td>
                    <td >{{municipio.departamento.nombre}}</td>
                    <td >{{municipio.codigoDian}}</td>

                    <td>
                    <button class="btn btn-danger" value="Editar" (click)="deleteMunicipio(municipio.id)">
                        eliminar
                    </button>
                        
                    <a [routerLink]="['/municipio/show',municipio.id]" class="btn btn-info">
                         Editar
                    </a>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>