<div class="col-md-12">
	
    <div class="identity-data" *ngIf="respuesta">
		<div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
			{{respuesta.msj}}
		</div>
		<div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
			{{respuesta.msj}}
		</div>

		
	</div>
	<br>

	<form #newCiudadano="ngForm" (ngSubmit)="onSubmit()" class="col-md-6 col-md-offset-3"> 

		<div class="panel panel-primary">
		  <div class="panel-heading">Reguistrar Almacen</div>
		  <div class="panel-body">
		  	
		  		<br>
				<br>

				<p class="col-md-6"> 
					<label>Servicio:</label>
					<select class="form-control" #servicioId="ngForm" ngControl="servicioId" [(ngModel)]="almacen.servicioId" required>
					  <option *ngFor="#servicio of servicios" [value]='servicio.id' >{{servicio.nombre}}</option>
					</select>
					<span *ngIf = "!servicioId.valid && servicioId.touched" class="text-danger">el role es obligatorio</span>
				</p>

				<p class="col-md-6"> 
					<label>Organismo de transito:</label>
					<select class="form-control" #organismoTransitoId="ngForm" ngControl="organismoTransitoId" [(ngModel)]="almacen.organismoTransitoId" required>
					  <option *ngFor="#organnismoTransito of organismosTransito" [value]='organnismoTransito.id' >{{organnismoTransito.nombre}}</option>
					</select>
					<span *ngIf = "!organismoTransitoId.valid && organismoTransitoId.touched" class="text-danger">el role es obligatorio</span>
				</p>

				<p class="col-md-6"> 
					<label>Consumible:</label>
					<select class="form-control" #consumibleId="ngForm" ngControl="consumibleId" [(ngModel)]="almacen.consumibleId" required>
					  <option *ngFor="#consumible of consumibles" [value]='consumible.id' >{{consumible.nombre}}</option>
					</select>
					<span *ngIf = "!consumibleId.valid && consumibleId.touched" class="text-danger">consumible es obligatorio</span>
				</p>

				<p class="col-md-6"> 
					<label>Clase:</label>
					<select class="form-control" #claseId="ngForm" ngControl="claseId" [(ngModel)]="almacen.claseId" required>
					  <option *ngFor="#clase of clases" [value]='clase.id' >{{clase.nombre}}</option>
					</select>
					<span *ngIf = "!claseId.valid && claseId.touched" class="text-danger">clase es obligatorio</span>
				</p>


				<p class="col-md-6">
					<label >Rango inicio:</label>
					<input #rangoInicio="ngForm"  type="number" class="form-control" [(ngModel)]="almacen.rangoInicio" ngControl="rangoInicio"  required />
					<span *ngIf="!rangoInicio.valid && rangoInicio.touched" style="color:red;">rangoInicio obligatorios</span>
					<br>
			    </p>		

				<p class="col-md-6">
					<label >Rango fin:</label>
					<input #rangoFin="ngForm"  type="number" class="form-control" [(ngModel)]="almacen.rangoFin" ngControl="rangoFin"  required />
					<span *ngIf="!rangoFin.valid && rangoFin.touched" style="color:red;">rangoFin obligatorios</span>
					<br>
				</p>

				<p class="col-md-12">
					<label>lote:</label>
					<input #lote="ngForm" name="lote"  type="number" id="lote" class="form-control" [(ngModel)]="almacen.lote" ngControl="lote" required/>
					<span *ngIf="!lote.valid && lote.touched" style="color:red;">Correo obligatorio</span>
					<br>
				</p>

				<div class="clearfix"></div>
				<br>
		        <p class="col-md-12"> 
		        
			    <input  type="submit" value="Enviar" class="btn btn-success col-md-12"  
				[disabled]="!newCiudadano.valid"/>
			    
			    </p>
		  </div>
		</div>
	</form>

</div>