<br>
<hr>
<h3>Tipos Empresas:</h3>
<hr>
    <div class="table-responsive">
    <a [routerLink]="['/tipoEmpresa/new']" class="btn btn-success">
         Nuevo
    </a>
    <br>
    <br>
         <div class="identity-data" *ngIf="respuesta">
            <div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
                {{respuesta.msj}}
            </div>
            <div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
                {{respuesta.msj}}
            </div>
        </div>

        <table class="table  table-condensed table-responsive table-bordered ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
               <tr *ngFor="#tipoEmpresa of tiposEmpresa">
                    <td >{{tipoEmpresa.id}}</td>
                    <td >{{tipoEmpresa.nombre}}</td> 

                    <td>
                    <button class="btn btn-danger" value="Editar" (click)="deleteTipoEmpresa(tipoEmpresa.id)">
                        eliminar
                    </button>
                        
                    <a [routerLink]="['/tipoEmpresa/show',tipoEmpresa.id]" class="btn btn-info">
                         Editar
                    </a>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>