
 <html>
  <header>
    <meta charset="utf-8">
  </header>
  <body>

    <h3 style="text-align:center;">
        <b>Entrega insumos</b>
        <br>      
    </h3>

    <table >
        <tr>
            <td width="25%">Divipol:</td>
            <td width="75%">Sede: </td> 
        </tr> 
    </table>
    <h4>No.Acta </h4>

  </body>
</html>