{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svcapacitacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for svCapacitacion in svCapacitacions %}
            <tr>
                <td><a href="{{ path('svcapacitacion_show', { 'id': svCapacitacion.id }) }}">{{ svCapacitacion.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('svcapacitacion_show', { 'id': svCapacitacion.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
