<html>
    <header>

    </header>
    <body style="font-size:11px">
        <table border="1" cellpading="5" style="text-align:center;">
            <tr>
                <td>
                    <br>
                    <br>
                    <br>
                    <br>
                    <table border="1" cellpading="5" style="text-align:center;">
                        <tr>
                            <td colspan="3">FECHA RECEPCIÓN</td>
                        </tr>
                        <tr>
                            <td>AÑO</td>
                            <td>MES</td>
                            <td>DÍA</td>
                        </tr>
                        <tr>
                            <td>{{ anio }}</td>
                            <td>{{ mes }}</td>
                            <td>{{ dia }}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <p>
                        GOBERNACIÓN DE NARIÑO
                        <br>
                        SECRETARIA DE HACIENDA
                        <br>
                        SOLICITUD DE REGISTRO DE COMPROMISO
                    </p>
                </td>
                <td>
                    <br>
                    <br>
                    <img src="{{ asset('img/logo-entidad.png') }}" height="60px"/>
                </td>
            </tr>
        </table>
        <table border="1" cellpading="10" style="text-align:center;">
            <tr>
                <td colspan="8">IDENTIFICACIÓN DE BENEFICIARIO</td>
            </tr>
            <tr>
                <td colspan="3">NOMBRES Y APELLIDOS Y/O</td>
                <td colspan="5">NOMBRES Y APELLIDOS Y/O</td>
            </tr>
            <tr>
                <td width="20%">PERSONA NATURAL</td>
                <td width="5%"></td>
                <td width="20%">PERSONA JURIDICA</td>
                <td width="5%"></td>
                <td width="20%">OFICIAL</td>
                <td width="5%"></td>
                <td width="20%">PRIVADA</td>
                <td width="5%"></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="3">NOMBRE DEL REPRESENTANTE LEGAL</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="2">No. IDENTIFICACIÓN <br> Anexar fotocopia del documento</td>
                <td>C.C:</td>
                <td colspan="2"></td>
                <td>RUT</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2">REGIMEN</td>
                <td></td>
                <td colspan="2">SIMPLIFICADO</td>
                <td></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2">DIRECCIÓN</td>
                <td colspan="3"></td>
                <td>CIUDAD</td>
                <td colspan="2">Pasto</td>
            </tr>
        </table>
    </body>
</html>
