{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usercfgempresatiposociedads list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userCfgEmpresaTipoSociedad in userCfgEmpresaTipoSociedads %}
            <tr>
                <td><a href="{{ path('usercfgempresatiposociedad_show', { 'id': userCfgEmpresaTipoSociedad.id }) }}">{{ userCfgEmpresaTipoSociedad.id }}</a></td>
                <td>{{ userCfgEmpresaTipoSociedad.nombre }}</td>
                <td>{% if userCfgEmpresaTipoSociedad.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usercfgempresatiposociedad_show', { 'id': userCfgEmpresaTipoSociedad.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
