{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svcfgdisenios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for svCfgDisenio in svCfgDisenios %}
            <tr>
                <td><a href="{{ path('svcfgdisenio_show', { 'id': svCfgDisenio.id }) }}">{{ svCfgDisenio.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('svcfgdisenio_show', { 'id': svCfgDisenio.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
