<html>
  <header>
  </header>
  <body>
    <p class="text-justify">
    	Numero factura, {{ factura.numero }}.
    	<br>
    	<br>
    	<br>
    </p>
    <p style="text-align:center;">
        <b>Subsecretaria de transito y transporte departamental de nariño</b>
        <br>      
    </p>
  </body>
</html>