<div class="col-md-12">
	
    <div class="identity-data" *ngIf="respuesta">
		<div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
			{{respuesta.msj}}
		</div>
		<div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
			{{respuesta.msj}}
		</div>

		
	</div>
	<br>

	<form #newVehiculo="ngForm" (ngSubmit)="onSubmit()" class="col-md-6 col-md-offset-3"> 

		<div class="panel panel-primary">
		  <div class="panel-heading">Reguistrar vehiculo</div>
		  <div class="panel-body">
		  	
		  		<br>
				<br>

				<p class="col-md-6"> 
					<label>Modalidad:</label>
					<select class="form-control" #ModalidadId="ngForm" ngControl="ModalidadId" [(ngModel)]="vehiculoPesado.modalidadId" required>
					  <option *ngFor="#modalidad of modalidades" [value]='modalidad.id' >{{modalidad.nombre}}</option>
					</select>
					<span *ngIf = "!ModalidadId.valid && ModalidadId.touched" class="text-danger">el role es obligatorio</span>
				</p>


				<p class="col-md-6"> 
					<label>vehiculo:</label>
					<select class="form-control" #vehiculoId="ngForm" ngControl="vehiculoId" [(ngModel)]="vehiculoPesado.vehiculoId" required>
					  <option *ngFor="#vehiculo of vehiculos" [value]='vehiculo.id' >{{vehiculo.placa}}</option>
					</select>
					<span *ngIf = "!vehiculoId.valid && vehiculoId.touched" class="text-danger">el role es obligatorio</span>
				</p>

				<p class="col-md-6"> 
					<label>empresa:</label>
					<select class="form-control" #empresaId="ngForm" ngControl="empresaId" [(ngModel)]="vehiculoPesado.empresaId" required>
					  <option *ngFor="#empresa of empresas" [value]='empresa.id' >{{empresa.nombre}}</option>
					</select>
					<span *ngIf = "!empresaId.valid && empresaId.touched" class="text-danger">el role es obligatorio</span>
				</p>

				<p class="col-md-6">
					<label >tonelaje:</label>
					<input #tonelaje="ngForm"  type="number" class="form-control" [(ngModel)]="vehiculoPesado.tonelaje" ngControl="tonelaje"  required />
					<span *ngIf="!tonelaje.valid && tonelaje.touched" style="color:red;">Numero de Factura es obligatorio</span>
					<br>
				</p>

				<p class="col-md-6">
					<label >numeroEjes:</label>
					<input #numeroEjes="ngForm"  type="number" class="form-control" [(ngModel)]="vehiculoPesado.numeroEjes" ngControl="numeroEjes"  required />
					<span *ngIf="!numeroEjes.valid && numeroEjes.touched" style="color:red;">Numero de Factura es obligatorio</span>
					<br>
				</p>

				<p class="col-md-6">
					<label >numeroMt:</label>
					<input #numeroMt="ngForm"  type="number" class="form-control" [(ngModel)]="vehiculoPesado.numeroMt" ngControl="numeroMt"  required />
					<span *ngIf="!numeroMt.valid && numeroMt.touched" style="color:red;">Numero de Factura es obligatorio</span>
					<br>
				</p>

				<p class="col-md-6">
				    <label >fichaTecnicaHomologacionCarroceria:</label>
					<input type="date" class="form-control" #fichaTecnicaHomologacionCarroceria="ngForm" ngControl="fichaTecnicaHomologacionCarroceria" [(ngModel)]="vehiculoPesado.fichaTecnicaHomologacionCarroceria"  required />
					<span *ngIf="!fichaTecnicaHomologacionCarroceria.valid && fichaTecnicaHomologacionCarroceria.touched" style="color:red;">fecha Nacimiento obligatorios</span>
				</p>

				<p class="col-md-6">
				    <label >fichaTecnicaHomologacionChasis:</label>
					<input type="date" class="form-control" #fichaTecnicaHomologacionChasis="ngForm" ngControl="fichaTecnicaHomologacionChasis" [(ngModel)]="vehiculoPesado.fichaTecnicaHomologacionChasis"  required />
					<span *ngIf="!fichaTecnicaHomologacionChasis.valid && fichaTecnicaHomologacionChasis.touched" style="color:red;">fecha Nacimiento obligatorios</span>
				</p>


				
				<br>
		        <p class="col-md-12"> 
		        
			    <input  type="submit" value="Enviar" class="btn btn-success col-md-12"  
				[disabled]="!newVehiculo.valid"/>
			    
			    </p>
		  </div>
		</div>
	</form>

</div>