<br>
<hr>
<h3>Ciudadanos</h3>
<hr>
	<div class="table-responsive">
    <a [routerLink]="['/ciudadano/new']" class="btn btn-success">
         Nuevo
    </a>
    <br>
    <br>
    <div class="identity-data" *ngIf="respuesta">
        <div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
            {{respuesta.msj}}
        </div>
        <div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
            {{respuesta.msj}}
        </div>
    </div>
        <table class="table  table-condensed table-responsive table-bordered ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombres</th>
                    <th>Tipo Identificacion</th>
                    <th>Numero Identificacion</th>
                    <th>Apellidos</th>
                    <th>direccion</th>
                    <th>Telefono</th>
                    <th>correo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#ciudadano of ciudadanos">
                    <td >{{ciudadano.id}}</td>
                    <td >{{ciudadano.nombres}}</td>
                    <td >{{ciudadano.tipoIdentificacion.nombre}}</td>
                    <td >{{ciudadano.numeroIdentificacion}}</td>
                    <td >{{ciudadano.apellidos}}</td>
                    <td >{{ciudadano.direccion}}</td>
                    <td >{{ciudadano.telefono}}</td>
                    <td >{{ciudadano.correo}}</td>
                    <td>
                    <button class="btn btn-danger" value="Editar" (click)="deleteCiudadano(ciudadano.id)">
						eliminar
					</button>
                        
        	        <a [routerLink]="['/ciudadano/show',ciudadano.id]" class="btn btn-info">
                         Editar
                    </a>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>