<div class="col-md-12">
	
    <div class="identity-data" *ngIf="respuesta">
		<div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
			{{respuesta.msj}}
		</div>
		<div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
			{{respuesta.msj}}
		</div>

		
	</div>
	<br>

	<form #newCiudadano="ngForm" (ngSubmit)="onSubmit()" class="col-md-6 col-md-offset-3"> 

		<div class="panel panel-primary">
		  <div class="panel-heading">Reguistrar ciudadano</div>
		  <div class="panel-body">
		  	
		  		<br>
				<br>

				<p class="col-md-6">
					<label >Nombres:</label>
					<input #nombres="ngForm"  type="text" class="form-control" [(ngModel)]="ciudadano.nombres" ngControl="nombres"  required />
					<span *ngIf="!nombres.valid && nombres.touched" style="color:red;">nombres obligatorios</span>
					<br>
				</p>

				<p class="col-md-6">
					<label >Apellidos:</label>
					<input #apellidos="ngForm"  type="text" class="form-control" [(ngModel)]="ciudadano.apellidos" ngControl="apellidos"  required />
					<span *ngIf="!apellidos.valid && apellidos.touched" style="color:red;">apellidos obligatorios</span>
					<br>
				</p>

				<p class="col-md-6">
					<label >Numero Identificacion:</label>
					<input #numeroIdentificacion="ngForm"  type="number" class="form-control" [(ngModel)]="ciudadano.numeroIdentificacion" ngControl="numeroIdentificacion"  required />
					<span *ngIf="!numeroIdentificacion.valid && numeroIdentificacion.touched" style="color:red;">numero Identificacion obligatorios</span>
					<br>
				</p>

				<p class="col-md-6"> 
					<label>Tipo identificacion:</label>
					<select class="form-control" #departamentoId="ngForm" ngControl="departamentoId" [(ngModel)]="ciudadano.tipoIdentificacionId" required>
					  <option *ngFor="#tipoIdentificacion of tiposIdentificacion" [value]='tipoIdentificacion.id' >{{tipoIdentificacion.nombre}}</option>
					</select>
					<span *ngIf = "!departamentoId.valid && departamentoId.touched" class="text-danger">el role es obligatorio</span>
				</p>

				<p class="col-md-12">
					<label>Correo electrónico:</label>
					<input #correo="ngForm" name="correo" id="correo" type="email" class="form-control" [(ngModel)]="ciudadano.correo" ngControl="correo" required/>
					<span *ngIf="!correo.valid && correo.touched" style="color:red;">Correo obligatorio</span>
					<br>
				</p>

				<p class="col-md-6">
					<label>Direccion:</label>
					<input #direccion="ngForm"  type="text" class="form-control" [(ngModel)]="ciudadano.direccion" ngControl="direccion" required/>
					<span *ngIf="!direccion.valid && direccion.touched" style="color:red;">Direccion obligatoria</span>
					<br>
				</p>

				


				<p class="col-md-6">
					<label >Telefono:</label>
					<input type="telefono" class="form-control" #telefono="ngForm" ngControl="telefono" [(ngModel)]="ciudadano.telefono" required />
					<span *ngIf="!telefono.valid && telefono.touched" style="color:red;">telefono obligatorios</span>
					<br>
				</p>


				<div class="clearfix"></div>
				<br>
		        <p class="col-md-12"> 
		        
			    <input  type="submit" value="LLena los Campos" class="btn btn-success col-md-12"  
				[disabled]="!newCiudadano.valid"/>
			    
			    </p>
		  </div>
		</div>
	</form>

</div>