{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usercfgempresaservicios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Gestionable</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userCfgEmpresaServicio in userCfgEmpresaServicios %}
            <tr>
                <td><a href="{{ path('usercfgempresaservicio_show', { 'id': userCfgEmpresaServicio.id }) }}">{{ userCfgEmpresaServicio.id }}</a></td>
                <td>{{ userCfgEmpresaServicio.nombre }}</td>
                <td>{% if userCfgEmpresaServicio.gestionable %}Yes{% else %}No{% endif %}</td>
                <td>{% if userCfgEmpresaServicio.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usercfgempresaservicio_show', { 'id': userCfgEmpresaServicio.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
