{% extends 'base.html.twig' %}

{% block body %}
    <h1>Frotrteconcepto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ froTrteConcepto.id }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if froTrteConcepto.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('frotrteconcepto_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
