{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgcarrocerium</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vhloCfgCarrocerium.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ vhloCfgCarrocerium.nombre }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ vhloCfgCarrocerium.codigo }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if vhloCfgCarrocerium.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfgcarroceria_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
