{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgservicio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vhloCfgServicio.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ vhloCfgServicio.nombre }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ vhloCfgServicio.codigo }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if vhloCfgServicio.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfgservicio_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
