<div class="col-md-12">
	
    <div class="identity-data" *ngIf="respuesta">
		<div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
			{{respuesta.msj}}
		</div>
		<div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
			{{respuesta.msj}}
		</div>

		
	</div>
	<br>

	<form #newCiudadano="ngForm" (ngSubmit)="onSubmit()"> 

		<div class="panel panel-primary">
		  <div class="panel-heading">Reguistrar Empresa</div>
		  <div class="panel-body">
		  <p class="col-md-6">  
					<label>Departamento:</label>
					<select  class="form-control" #departamentoId="ngForm"  (change)="onChange($event.target.value)" ngControl="departamentoId" name="departamentos" required>
					  <option  *ngFor="#departamento of departamentos" [value]='departamento.id' >{{departamento.nombre}}</option>
					</select>
					<span *ngIf = "!departamentoId.valid && departamentoId.touched" class="text-danger">el departamento es obligatorio</span>
				</p>

				<p class="col-md-6"> 
					<label>Municipio:</label>
					<select [disabled]="habilitar"  class="form-control" #municipioId="ngForm" ngControl="municipioId" [(ngModel)]="empresa.municipioId" required>
					  <option *ngFor="#municipio of municipios" [value]='municipio.id' >{{municipio.nombre}}</option>
					</select>
					<span *ngIf = "!municipioId.valid && municipioId.touched" class="text-danger">municipio es obligatorio</span>
				</p>

				<div  class="col-md-12"> 	
					<div  [class]="calseCedula">
					  <input  [(ngModel)]="empresa.ciudadanoId" (blur)="onKeyCiudadano($event)" (keyup.enter)="onKeyCiudadano($event)" type="number" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" placeholder="Numero de Identificacion ciudadano">
					  <span [class]="claseSpanCedula" aria-hidden="true"></span>
					</div>
					<br>
				</div>
				<div class="clearfix"></div>

				<div *ngIf="validateCedula" class="panel panel-info">
				  <div class="panel-heading">{{msgCiudadano}} encontrado</div>
				  <div class="panel-body">
					    <table class="table table-bordered">
				            <thead>
				                <tr>
				                    <th>nombre</th>
				                    <th>apellido</th>
				                    <th>direccion</th>
				                    <th>correo</th>
				                    
				                </tr>
				            </thead>
				            <tbody>
				                <tr>
				                    <td >{{ciudadano.nombres}}</td>
				                    <td >{{ciudadano.apellidos}}</td>
				                    <td >{{ciudadano.direccion}}</td>
				                    <td >{{ciudadano.correo}}</td>
				                </tr>
				            </tbody> 
				        </table>
				  </div>
				</div>


				<p class="col-md-6"> 
					<label>Tipo Empresa:</label>
					<select class="form-control" #tipoEmpresaId="ngForm" ngControl="tipoEmpresaId" [(ngModel)]="empresa.tipoEmpresaId" required>
					  <option *ngFor="#tipoEmpresa of tiposEmpresa" [value]='tipoEmpresa.id' >{{tipoEmpresa.nombre}}</option>
					</select>
					<span *ngIf = "!tipoEmpresaId.valid && tipoEmpresaId.touched" class="text-danger">el role es obligatorio</span>
				</p>

				<p class="col-md-6">
					<label >Nombres:</label>
					<input #nombre="ngForm"  type="text" class="form-control" [(ngModel)]="empresa.nombre" ngControl="nombre"  required />
					<span *ngIf="!nombre.valid && nombre.touched" style="color:red;">nombre obligatorios</span>
					<br>
				</p>

				<p class="col-md-6">
					<label >Direccion:</label>
					<input #direccion="ngForm"  type="text" class="form-control" [(ngModel)]="empresa.direccion" ngControl="direccion"  required />
					<span *ngIf="!direccion.valid && direccion.touched" style="color:red;">direccion obligatorios</span>
					<br>
				</p>

				<p class="col-md-6">
					<label>Correo electrónico:</label>
					<input #correo="ngForm" name="correo" id="correo" type="email" class="form-control" [(ngModel)]="empresa.correo" ngControl="correo" required/>
					<span *ngIf="!correo.valid && correo.touched" style="color:red;">Correo obligatorio</span>
					<br>
				</p>

				<p class="col-md-6">
					<label >Nit:</label>
					<input #nit="ngForm"  type="number" class="form-control" [(ngModel)]="empresa.nit" ngControl="nit"  required />
					<span *ngIf="!nit.valid && nit.touched" style="color:red;">numero Identificacion obligatorios</span>
					<br>
				</p>



				<p class="col-md-6">
					<label >Telefono:</label>
					<input type="telefono" class="form-control" #telefono="ngForm" ngControl="telefono" [(ngModel)]="empresa.telefono" required />
					<span *ngIf="!telefono.valid && telefono.touched" style="color:red;">telefono obligatorios</span>
					<br>
				</p>

				<div class="clearfix"></div>
				<br>
		        <p class="col-md-12"> 
		        
			    <input  type="submit" value="Enviar" class="btn btn-success col-md-12"  
				[disabled]="!newCiudadano.valid"/>
			    
			    </p>
		  </div>
		</div>
	</form>

</div>