<br>
<hr>
<h3>conceptos</h3>
<hr>
	<div class="table-responsive">
    <a [routerLink]="['/concepto/new']" class="btn btn-success">
         Nuevo
    </a>
    <br>
    <br>
    <div class="identity-data" *ngIf="respuesta">
        <div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
            {{respuesta.msj}}
        </div>
        <div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
            {{respuesta.msj}}
        </div>
    </div>
        <table class="table  table-condensed table-responsive table-bordered ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>tramite</th>
                    <th>cuenta</th>
                    <th>descripcion</th>
                    <th>valor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#concepto of conceptos">
                    <td >{{concepto.id}}</td>
                    <td >{{concepto.tramite.nombre}}</td>
                    <td >{{concepto.cuenta.numero}}</td>
                    <td >{{concepto.descripcion}}</td>
                    <td >{{concepto.valor}}</td>
                   <td>
                    <button class="btn btn-danger" value="Editar" (click)="deleteConcepto(concepto.id)">
						eliminar
					</button>
                        
        	        <a [routerLink]="['/concepto/show',concepto.id]" class="btn btn-info">
                         Editar
                    </a>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>