<div class="col-md-12">
	
    <div class="identity-data" *ngIf="respuesta">
		<div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
			{{respuesta.msj}}
		</div>
		<div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
			{{respuesta.msj}}
		</div>

		
	</div>
	<br>

	<form #newDepartamento="ngForm" (ngSubmit)="onSubmit()" class="col-md-6 col-md-offset-3"> 

		<div class="panel panel-primary">
		  <div class="panel-heading">Reguistrar Tipo de Identificacion</div>
		  <div class="panel-body">
		  	
		  		<br>
				<br>

				<p class="col-md-12">
					<label >Nombre:</label>
					<input #nombre="ngForm"  type="text" class="form-control" [(ngModel)]="tipoIdentificacion.nombre" ngControl="nombre"  required />
					<span *ngIf="!nombre.valid && nombre.touched" style="color:red;">nombre obligatorio</span>
					<br>
				</p>

				<input  type="submit" value="LLena los Campos" class="btn btn-success col-md-12"
				[disabled]="!newDepartamento.valid"/>
		  </div>
		</div>



	</form>

</div>