<div class="col-md-12">
	
    <div class="identity-data" *ngIf="respuesta">
		<div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
			{{respuesta.msj}}
		</div>
		<div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
			{{respuesta.msj}}
		</div>
	</div>
	<br>

	<form #newVariante="ngForm" (ngSubmit)="onSubmit()" class="col-md-6 col-md-offset-3"> 

		<div class="panel panel-primary">
		  <div class="panel-heading">Reguistrar Variante</div>
		  <div class="panel-body">
		  	
		  		<br>
				<br>

				<p class="col-md-6"> 
					<label>Tramite:</label>
					<select class="form-control" #tramiteId="ngForm" ngControl="marcaId" [(ngModel)]="variante.tramiteId" required>
					  <option *ngFor="#tramite of tramites" [value]='tramite.id' >{{tramite.nombre}}</option>
					</select>
					<span *ngIf = "!tramiteId.valid && tramiteId.touched" class="text-danger">el role es obligatorio</span>
				</p>

				<p class="col-md-6">
					<label >Nombre:</label>
					<input #nombre="ngForm"  type="text" class="form-control" [(ngModel)]="variante.nombre" ngControl="nombre"  required />
					<span *ngIf="!nombre.valid && nombre.touched" style="color:red;">nombre obligatorio</span>
					<br>
				</p>

				<input  type="submit" value="LLena los Campos" class="btn btn-success col-md-12"  
				[disabled]="!newVariante.valid"/>

			    

		  </div>
		</div>
	</form>

</div>
