<br>
<hr>
<h3>variante:</h3>
<hr>
	<div class="table-responsive">
    <a [routerLink]="['/variante/new']" class="btn btn-success">
         Nuevo
    </a>
    <br>
    <br>
    <div class="identity-data" *ngIf="respuesta">
        <div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
            {{respuesta.msj}}
        </div>
        <div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
            {{respuesta.msj}}
        </div>
    </div>
        <table class="table  table-condensed table-responsive table-bordered ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tramite</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
               <tr *ngFor="#variante of variantes">
                    <td >{{variante.id}}</td>
                    <td >{{variante.numero}}</td>
                    <td >{{variante.tramite.nombre}}</td>
                    <td>
                    <button class="btn btn-danger" value="Editar" (click)="deleteCuenta(variante.id)">
                        eliminar
                    </button>
                        
                    <a [routerLink]="['/variante/show',variante.id]" class="btn btn-info">
                         Editar
                    </a>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>