<br>
<hr>
<h3>Pagos:</h3>
<hr>
	<div class="table-responsive">
    <a [routerLink]="['/pago/new']" class="btn btn-success">
         Nuevo
    </a>
    <br>
    <br>
    <div class="identity-data" *ngIf="respuesta">
        <div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
            {{respuesta.msj}}
        </div>
        <div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
            {{respuesta.msj}}
        </div>
    </div>
        <table class="table  table-condensed table-responsive table-bordered ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>tramite</th>
                    <th>valor</th>
                    <th>fecha pago</th>
                    <th>hora</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
               <tr *ngFor="#pago of pagos">
                    <td >{{pago.id}}</td>
                    <td >{{pago.tramite.nombre}}</td>
                    <td >{{pago.valor}}</td>
                    <td >{{pago.fechaPago}}</td>
                    <td >{{pago.horaPago}}</td>

                    <td>
                    <button class="btn btn-danger" value="Editar" (click)="deletePago(pago.id)">
                        eliminar
                    </button>
                        
                    <a [routerLink]="['/pago/show',pago.id]" class="btn btn-info">
                         Editar
                    </a>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>