<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <style>
/**********************************************
* Ink v1.0.5 - Copyright 2013 ZURB Inc        *
**********************************************/

    /* Client-specific Styles & Reset */

    #outlook a {
        padding:0;
    }

    body{
        width:100% !important;
        min-width: 100%;
        -webkit-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
        margin:0;
        padding:0;
    }

    .ExternalClass {
        width:100%;
    }

    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
        line-height: 100%;
    }

    #backgroundTable {
        margin:0;
        padding:0;
        width:100% !important;
        line-height: 100% !important;
    }
    </style>
</head>
<body>
    <img src="https://subdetra.xn--nario-rta.gov.co/dist/assets/img/logo.png">
    <h1>Hola, {{ entity.funcionario.ciudadano.nombres }} {{ entity.funcionario.ciudadano.apellidos }}</h1>
    <p>Bienvenido a nuestro sistema de asignación de procesos.</p>
    <br />
    <p>
        <em>
            @SUBDETRA {{'now'|date('Y')}} Secretaría de transito y transporte de Nariño, Todos los derechos reservados.
        </em>
    </p>
</body>
</html>