<html>
  <header>
    <style type="text/css">
        .separator{
            margin-top: 5px;
        }
        .table td{
            max-height: 15px;
            padding: 2px;
        }
    </style>
  </header>
  <body style="font-size:12px">
    <p class="text-justify">
    	San Juan de Pasto, {{ fechaActual }}.
    	<br>
    	<br>
    	<br>
    </p>
    <table border="1" cellpadding="3" style="font-size: 10px;">
        <tr>
            <td>No. {{ comparendo.consecutivo.numero }}</td>
        <tr>
    </table>
  </body>
</html>