<br>
<h3 *ngIf="tramite">{{tramite.nombre}} <small>Seleccionado</small></h3>
<br>

	<div  [class]="clase">
	  <input  (blur)="onKey($event)" (keyup.enter)="onKey($event)" type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" placeholder="Placa Vheiculo">
	  <span [class]="claseSpan" aria-hidden="true"></span>
	</div>
	

<div *ngIf="validate" class="col-md-12">
	<div class="panel panel-primary">
	  <div class="panel-heading">{{msg}}</div>
	  <div class="panel-body">
		    <table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th>Linea</th>
	                    <th>Marca</th>
	                    <th>Clase</th>
	                    <th>Modelo</th>
	                    
	                </tr>
	            </thead>
	            <tbody>
	                <tr>
	                    <td >{{vehiculo.linea.nombre}}</td>
	                    <td >{{vehiculo.linea.marca.nombre}}</td>
	                    <td >{{vehiculo.clase.nombre}}</td>
	                    <td >{{vehiculo.modelo}}</td>
	                </tr>
	            </tbody> 
	        </table>
	  </div>
	</div>
</div>						

	<div *ngIf="activar" class="col-md-12 alert alert-danger alert-dismissible" role="alert">
	  <strong>Uups!</strong> {{respuesta.msj}}
	</div>
 
<div *ngIf="validateCiudadano" class="col-md-12">
	<div  class="panel panel-primary">
	  <div class="panel-heading">ciudadanos asosiados a este vehiculo</div>
	  <div class="panel-body">
		    <table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th>nombres</th>
						<th>apellidos</th>
	                    <th>identificacion</th>
	                    <th>correo</th>
	                    <th>solicitante</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr *ngFor="#ciudadanoVehiculo of ciudadanosVehiculo">
	                    <td >{{ciudadanoVehiculo.ciudadano.nombres}}</td>
	                    <td >{{ciudadanoVehiculo.ciudadano.apellidos}}</td>
	                    <td >{{ciudadanoVehiculo.ciudadano.numeroIdentificacion}}</td>
	                    <td >{{ciudadanoVehiculo.ciudadano.correo}}</td>
	                    <td ><input name="options" ng-control="options" type="radio" value={{ciudadanoVehiculo.ciudadano.id}} 
	                    (change)="onChangeCiudadano(ciudadanoVehiculo.ciudadano.id)"></td>
	                </tr>
	            </tbody> 
	        </table>
	  </div>
	</div>
</div>	

   

