<div class="col-md-12">
	
    <div class="identity-data" *ngIf="respuesta">
		<div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
			{{respuesta.msj}}
		</div>
		<div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
			{{respuesta.msj}}
		</div>

		
	</div>
	<br>

	<form #newServicio="ngForm" (ngSubmit)="onSubmit()" class="col-md-6 col-md-offset-3"> 

		<div class="panel panel-primary">
		  <div class="panel-heading">Reguistrar Servicio</div>
		  <div class="panel-body">
		  	
		  		<br>
				<br>

				<p class="col-md-6">
					<label >Nombre:</label>
					<input #nombre="ngForm"  type="text" class="form-control" [(ngModel)]="servicio.nombre" ngControl="nombre"  required />
					<span *ngIf="!nombre.valid && nombre.touched" style="color:red;">nombre obligatorios</span>
					<br>
				</p>

				<p class="col-md-6">
					<label >Codigo Mt:</label>
					<input #codigo="ngForm"  type="number" class="form-control" [(ngModel)]="servicio.codigo" ngControl="codigo"  required />
					<span *ngIf="!codigo.valid && codigo.touched" style="color:red;">codigo obligatorio</span>
					<br>
				</p>

			    <input  type="submit" value="Enviar" class="btn btn-success col-md-12"  
				[disabled]="!newServicio.valid"/>

		  </div>
		</div>

	</form>

</div>