<br>
<hr>
<h3>Ciudadanos</h3>
<hr>
	<div class="table-responsive">
    <a [routerLink]="['/vehiculo/new']" class="btn btn-success">
         Nuevo
    </a>
    <br>
    <br>
    <div class="identity-data" *ngIf="respuesta">
        <div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
            {{respuesta.msj}}
        </div>
        <div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
            {{respuesta.msj}}
        </div>
    </div>
        <table class="table  table-condensed table-responsive table-bordered ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Municipio</th>
                    <th>Linea</th>
                    <th>Servicio</th>
                    <th>Color</th>
                    <th>Combustible</th>
                    <th>Carroceria</th>
                    <th>Organismo de Transito</th>
                    <th>Clase</th>
                    <th>Placa</th>
                    <th>Numero de Factura</th>
                    <th>Fecha de Factura</th>
                    <th>Valor</th>
                    <th>Numero de Manifiesto</th>
                    <th>Fecha Manifiesto</th>
                    <th>Cilindraje</th>
                    <th>Modelo</th>
                    <th>Motor</th>
                    <th>Chasis</th>
                    <th>Serie</th>
                    <th>Vin</th>
                    <th>Numero de Pasajeros</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#vehiculo of vehiculos">
                    <td >{{vehiculo.municipio.nombre}}</td>
                    <td >{{vehiculo.linea.nombre}}</td>
                    <td >{{vehiculo.servicio.nombre}}</td>
                    <td >{{vehiculo.color.nombre}}</td>
                    <td >{{vehiculo.combustible.nombre}}</td>
                    <td >{{vehiculo.carroceria.nombre}}</td>
                    <td >{{vehiculo.organismoTransito.nombre}}</td>
                    <td >{{vehiculo.clase.nombre}}</td>
                    <td >{{vehiculo.placa}}</td>
                    <td >{{vehiculo.numeroFactura}}</td>
                    <td >{{vehiculo.fechaFactura}}</td>
                    <td >{{vehiculo.valor}}</td>
                    <td >{{vehiculo.numeroManifiesto}}</td>
                    <td >{{vehiculo.fechaManifiesto}}</td>
                    <td >{{vehiculo.cilindraje}}</td>
                    <td >{{vehiculo.modelo}}</td>
                    <td >{{vehiculo.motor}}</td>
                    <td >{{vehiculo.chasis}}</td>
                    <td >{{vehiculo.serie}}</td>
                    <td >{{vehiculo.vin}}</td>
                    <td >{{vehiculo.numeroPasajeros}}</td>
                    <td>
                    <button class="btn btn-danger" value="Editar" (click)="deleteVehiculo(vehiculo.id)">
						eliminar
					</button>
                        
        	        <a [routerLink]="['/vehiculo/show',vehiculo.id]" class="btn btn-info">
                         Editar
                    </a>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>