{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgclase</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vhloCfgClase.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ vhloCfgClase.nombre }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ vhloCfgClase.codigo }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if vhloCfgClase.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfgclase_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
