{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgcda</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vhloCfgCda.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ vhloCfgCda.nombre }}</td>
            </tr>
            <tr>
                <th>Nit</th>
                <td>{{ vhloCfgCda.nit }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if vhloCfgCda.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfgcda_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
