{% extends 'base.html.twig' %}

{% block body %}
    <h1>Frocfgtiporecaudos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for froCfgTipoRecaudo in froCfgTipoRecaudos %}
            <tr>
                <td><a href="{{ path('frocfgtiporecaudo_show', { 'id': froCfgTipoRecaudo.id }) }}">{{ froCfgTipoRecaudo.id }}</a></td>
                <td>{{ froCfgTipoRecaudo.nombre }}</td>
                <td>{% if froCfgTipoRecaudo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('frocfgtiporecaudo_show', { 'id': froCfgTipoRecaudo.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
