<br>
<hr>
<h3>Lineas:</h3>
<hr>
	<div class="table-responsive">
    <a [routerLink]="['/linea/new']" class="btn btn-success">
         Nuevo
    </a>
    <br>
    <br>
    <div class="identity-data" *ngIf="respuesta">
        <div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
            {{respuesta.msj}}
        </div>
        <div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
            {{respuesta.msj}}
        </div>
    </div>
        <table class="table  table-condensed table-responsive table-bordered ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>marca</th>
                    <th>Codigo Mt</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
               <tr *ngFor="#linea of lineas">
                    <td >{{linea.id}}</td>
                    <td >{{linea.nombre}}</td>
                    <td >{{linea.marca.nombre}}</td>
                    <td >{{linea.codigoMt}}</td>

                    <td>
                    <button class="btn btn-danger" value="Editar" (click)="deleteLinea(linea.id)">
                        eliminar
                    </button>
                        
                    <a [routerLink]="['/linea/show',linea.id]" class="btn btn-info">
                         Editar
                    </a>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>