<br>
<h3 *ngIf="tramite">{{tramite.nombre}} <small>Seleccionado</small></h3>

	<h3>Carga <small>carpetas</small></h3>
	<hr>
	<div  [class]="clase">
	  <input [(ngModel)]="placa.placa" (blur)="onKey($placa)" (keyup.enter)="onKey($placa)" type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" placeholder="Placa Vheiculo">
	  <span [class]="claseSpan" aria-hidden="true"></span>
	</div>


<div *ngIf="crear">
 <register [placaIngresada]="placa.placa" (vheiculoCreado)="vheiculoCreado($event)"></register>
</div>	
<h1>{{resive}}</h1>


<div *ngIf="validate" class="col-md-12">
	<div class="panel panel-primary">
	  <div class="panel-heading">{{msg}}</div>
	  <div class="panel-body">
		    <table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th>Linea</th>
	                    <th>Marca</th>
	                    <th>Clase</th>
	                    <th>Modelo</th>
	                    
	                </tr>
	            </thead>
	            <tbody>
	                <tr>
	                    <td >{{vehiculo.linea.nombre}}</td>
	                    <td >{{vehiculo.linea.marca.nombre}}</td>
	                    <td >{{vehiculo.clase.nombre}}</td>
	                    <td >{{vehiculo.modelo}}</td>
	                </tr>
	            </tbody> 
	        </table>
	  </div>
	</div>
</div>						

	

<div *ngIf="activar" class="col-md-12">
	<div  class="panel panel-primary">
	  <div class="panel-heading">ciudadanos asosiados a este vehiculo 
				<button data-toggle="modal" data-target="#myModal" class="col-md-offset-9 btn btn-primary btn-xs glyphicon glyphicon-plus"></button>
	  </div>
	  <div class="panel-body">
	  			<div  [class]="calseCedula">
				  <input  (blur)="onKeyCiudadano($event.target.value)" (keyup.enter)="onKeyCiudadano($event.target.value)" type="number" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" placeholder="Identificacion Ciudadano">
				  <span [class]="claseSpanCedula" aria-hidden="true"></span>
				</div>
				<!-- Button trigger modal-->
				<br>

				<form *ngIf="validateCedula" #newVehiculo="ngForm" (ngSubmit)="VehiculoCiudadano()" class="col-md-12"> 
						<div class="panel panel-primary">
						  <div class="panel-heading">Reguistrar ciudadano vehiculo</div>
						  <div class="panel-body">

								<div class="col-md-12">

										<div  class="panel panel-info">
										  <div class="panel-heading">{{msgCiudadano}} encontrado</div>
										  <div class="panel-body">
											    <table class="table table-bordered">
										            <thead>
										                <tr>
										                    <th>nombre</th>
										                    <th>apellido</th>
										                    <th>direccion</th>
										                    <th>correo</th>
										                    
										                </tr>
										            </thead>
										            <tbody>
										                <tr>
										                    <td >{{ciudadano.nombres}}</td>
										                    <td >{{ciudadano.apellidos}}</td>
										                    <td >{{ciudadano.direccion}}</td>
										                    <td >{{ciudadano.correo}}</td>
										                </tr>
										            </tbody> 
										        </table>
										  </div>
										</div>
								</div>


										<p class="col-md-6">
											<label >licencia transito:</label>
											<input #licenciaTransito="ngForm"  type="text" class="form-control" [(ngModel)]="ciudadanoVehiculo.licenciaTransito" ngControl="licenciaTransito"  required />
											<span *ngIf="!licenciaTransito.valid && licenciaTransito.touched" style="color:red;">licenciaTransito obligatorios</span>
											<br>
										</p>


										<p class="col-md-6">
										    <label >fecha Propiedad Inicial:</label>
											<input type="date" class="form-control" #fechaPropiedadInicial="ngForm" ngControl="fechaPropiedadInicial" [(ngModel)]="ciudadanoVehiculo.fechaPropiedadInicial"  required />
											<span *ngIf="!fechaPropiedadInicial.valid && fechaPropiedadInicial.touched" style="color:red;">fecha Nacimiento obligatorios</span>
										</p>
										<div class="clearfix"></div>


										<p class="col-md-6">
										    <label >fecha Propiedad Final:</label>
											<input type="date" class="form-control" #fechaPropiedadFinal="ngForm" ngControl="fechaPropiedadFinal" [(ngModel)]="ciudadanoVehiculo.fechaPropiedadFinal"  required />
											<span *ngIf="!fechaPropiedadFinal.valid && fechaPropiedadFinal.touched" style="color:red;">fecha Nacimiento obligatorios</span>
										</p>

										<p class="col-md-6">
										    <label >estado Propiedad:</label>
											<input #estadoPropiedad="ngForm"  type="text" class="form-control" [(ngModel)]="ciudadanoVehiculo.estadoPropiedad" ngControl="estadoPropiedad"  required />
											<span *ngIf="!estadoPropiedad.valid && estadoPropiedad.touched" style="color:red;">estadoPropiedad obligatorios</span>
											<br>
										</p>

											
										<br>
								        <p class="col-md-12"> 
								        
									    <input  type="submit" value="LLena los Campos" class="btn btn-success col-md-12"  
										[disabled]="!validate || !newVehiculo.valid || !validateCedula"/>
									    
									    </p>
								
						  </div>
						</div>
				</form>

		    <table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th>nombres</th>
						<th>apellidos</th>
	                    <th>identificacion</th>
	                    <th>correo</th>
	                    <th>solicitante</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr *ngFor="#ciudadanoVehiculo of ciudadanosVehiculo">
	                    <td >{{ciudadanoVehiculo.ciudadano.nombres}}</td>
	                    <td >{{ciudadanoVehiculo.ciudadano.apellidos}}</td>
	                    <td >{{ciudadanoVehiculo.ciudadano.numeroIdentificacion}}</td>
	                    <td >{{ciudadanoVehiculo.ciudadano.correo}}</td>
	                    <td ><input name="options" ng-control="options" type="radio" value={{ciudadanoVehiculo.ciudadano.id}} 
	                    (change)="onChangeCiudadano(ciudadanoVehiculo.ciudadano.id)"></td>
	                </tr>
	            </tbody> 
	        </table>
	  </div>
	</div>
</div>	




<!-- Modal-->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      </div>
			<registerCiudadano ></registerCiudadano>
	      <div class="modal-footer">
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
</div> 


<script type="text/javascript">
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})</script>


   
