<br>
<h3 *ngIf="tramite">{{tramite.nombre}} <small>Seleccionado</small></h3>

	<h3>Carga <small>carpetas</small></h3>
	<hr>
	<div  [class]="clase">
	  <input [(ngModel)]="placa.placa" (blur)="onKey($placa)" (keyup.enter)="onKey($placa)" type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" placeholder="Placa Vheiculo">
	  <span [class]="claseSpan" aria-hidden="true"></span>
	</div>


<div *ngIf="crear">
 <register [placaIngresada]="placa.placa" (vheiculoCreado)="vheiculoCreado($event)"></register>
</div>	
<h1>{{resive}}</h1>


<div *ngIf="validate" class="col-md-12">
	<div class="panel panel-primary">
	  <div class="panel-heading">{{msg}}</div>
	  <div class="panel-body">
		    <table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th>Linea</th>
	                    <th>Marca</th>
	                    <th>Clase</th>
	                    <th>Modelo</th>
	                    
	                </tr>
	            </thead>
	            <tbody> 
	                <tr>
	                    <td >{{vehiculo.linea.nombre}}</td>
	                    <td >{{vehiculo.linea.marca.nombre}}</td>
	                    <td >{{vehiculo.clase.nombre}}</td>
	                    <td >{{vehiculo.modelo}}</td>
	                </tr>
	            </tbody> 
	        </table>
	  </div>
	</div>
</div>						

	

<div *ngIf="activar" class="col-md-12">
	<div  class="panel panel-primary">
	  <div class="panel-heading">Propetarios 
				
	  </div>

	  <div class="panel-body">

	  			<p class="col-md-6"> 
					<select class="form-control" (change)="onChangeNit($event.target.value)">
					  <option *ngFor="#tipoIdentificacion of tipoIdentificaciones" [value]='tipoIdentificacion.id' >{{tipoIdentificacion.nombre}}</option>
					</select>
				</p>

				<div *ngIf="!nit" class="col-md-6"> 
				    <div class="col-md-10">
				    	<div  [class]="calseCedula">
						  <input [(ngModel)]="ciudadano.numeroIdentificacion" (blur)="onKeyCiudadano($event.target.value)" (keyup.enter)="onKeyCiudadano($event.target.value)" type="number" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" placeholder="Identificacion">
						  <span [class]="claseSpanCedula" aria-hidden="true"></span>
						</div>
				    </div>
					
					<div class="col-md-2">
						<button [disabled]='!btnNewPropietario' data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-sm glyphicon glyphicon-plus"></button>
					</div>
					
				</div>

				<div *ngIf="nit" class="col-md-6"> 
					<div class="col-md-10">
						<div  [class]="calseCedula">
						  <input [(ngModel)]="empresa.nit" (blur)="onKeyEmpresa($event.target.value)" (keyup.enter)="onKeyEmpresa($event.target.value)" type="number" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" placeholder="NIT">
						  <span [class]="claseSpanCedula" aria-hidden="true"></span>
						</div>
				    </div>		 

					<div class="col-md-2">
						<button [disabled]='!btnNewPropietario' data-toggle="modal" data-target="#myModalEmpresa" class="btn btn-primary btn-sm glyphicon glyphicon-plus"></button>
					</div>
				</div>
				<br>
				<br>

				<form *ngIf="validateCedula" #newVehiculo="ngForm" (ngSubmit)="VehiculoCiudadano()" class="col-md-12"> 
						<div class="panel panel-primary">
						  <div class="panel-heading">Propietario a Vehiculo</div>
						  <div class="panel-body">

								<div *ngIf="ciudadano?.nombres" class="col-md-12">
										<div  class="panel panel-dafault">
										  <div class="panel-heading col-md-8">{{msgCiudadano}} encontrado</div>
										  	<label class="checkbox inline  col-md-offset-2 col-md-2">
											  <input type="checkbox" #apoderado (change)="onChangeApoderado(apoderado.checked)" id="inlineCheckbox1" value="option1"> Apoderado
											</label>
										  <div class="panel-body">
											    <table class="table table-bordered">
										            <thead>
										                <tr>
										                    <th>nombre</th>
										                    <th>apellido</th>
										                    <th>direccion</th>
										                    <th>correo</th>
										                    
										                </tr>
										            </thead>
										            <tbody>
										                <tr>
										                    <td >{{ciudadano.nombres}}</td>
										                    <td >{{ciudadano.apellidos}}</td>
										                    <td >{{ciudadano.direccion}}</td>
										                    <td >{{ciudadano.correo}}</td>
										                </tr>
										            </tbody> 
										        </table>
										  </div>
										</div>
								</div>

								<div *ngIf="divEmpresa" class="col-md-12">
										<div  class="panel panel-dafault">
										  <div class="panel-heading">{{msgCiudadano}}</div>
										  <div class="panel-body">
											    <table class="table table-bordered">
										            <thead>
										                <tr>
										                    <th>NIT</th>
										                    <th>nombre</th>
															<th>direccion</th>
											                <th>correo</th>
											                <th>telefono</th>
										                </tr>
										            </thead>
										            <tbody>
										            	<tr>
										                    <td >{{empresa.nit}}</td>
										                    <td >{{empresa.nombre}}</td>
										                    <td >{{empresa.direccion}}</td>
										                    <td >{{empresa.correo}}</td>
										                    <td >{{empresa.telefono}}</td>
										                </tr>
										            </tbody> 
										        </table>
										  </div>
										</div>
								</div>

										<div *ngIf="ciudadanosVehiculo == null" class="col-md-12">
											<div class="col-md-6">
												<label >licencia transito:</label>
												<input #licenciaTransito="ngForm"  type="text" class="form-control" [(ngModel)]="ciudadanoVehiculo.licenciaTransito" ngControl="licenciaTransito"  required />
												<span *ngIf="!licenciaTransito.valid && licenciaTransito.touched" style="color:red;">licenciaTransito obligatorios</span>
											</div>
											<div class="col-md-6">
												<label >Tipo:</label>
												<select class="form-control" (change)="onChangeTipoMatricula($event.target.value)">
												  <option value="1">MATRICULA INICIAL</option>
												  <option value="4">RADICADO</option>
												</select>	
											</div>
											<br>
											<br>
											<br>
											<br>
										</div>
										
								        <div class="col-md-12 col-md-offset-3"> 
									    	<a *ngIf="!btnSeleccionarApoderado" (click)="btnCancelarVinculo()" class="btn btn-default col-md-3">cancelar</a>
										    <input  *ngIf="!btnSeleccionarApoderado" type="submit" value="Vincular" class="btn btn-primary col-md-3 "  
											/>
											<a *ngIf="btnSeleccionarApoderado" (click)="onChangeCiudadano(ciudadano?.id)"  class="btn btn-primary col-md-6">Seleccionar</a>
									    </div>
						  </div>
						</div>
				</form>



				
				
		<br>
		<hr>
			<h4>Ciudadanos</h4>
		    <table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th>nombres</th>
						<th>apellidos</th>
	                    <th>identificacion</th>
	                    <th>correo</th>
	                    <th *ngIf="!btnSeleccionarApoderado">solicitante</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr *ngFor="#ciudadanoVehiculo of ciudadanosVehiculo">
	                    <td *ngIf="ciudadanoVehiculo.ciudadano">{{ciudadanoVehiculo.ciudadano?.nombres}}</td>
	                    <td *ngIf="ciudadanoVehiculo.ciudadano">{{ciudadanoVehiculo.ciudadano?.apellidos}}</td>
	                    <td *ngIf="ciudadanoVehiculo.ciudadano">{{ciudadanoVehiculo.ciudadano?.numeroIdentificacion}}</td>
	                    <td *ngIf="ciudadanoVehiculo.ciudadano">{{ciudadanoVehiculo.ciudadano?.correo}}</td>
	                    <td *ngIf="ciudadanoVehiculo.ciudadano && !btnSeleccionarApoderado">
	                    <input name="options" ng-control="options" type="radio" value={{ciudadanoVehiculo.ciudadano?.id}} 
	                    (change)="onChangeCiudadano(ciudadanoVehiculo.ciudadano?.id)"></td>
	                </tr>
	            </tbody> 
	        </table>
	        <h4>Empresas</h4>

	        <table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th>NIT</th>
	                    <th>nombre</th>
						<th>direccion</th>
		                <th>correo</th>
		                <th>telefono</th>
	                    <th *ngIf="!btnSeleccionarApoderado">solicitante</th>
	                </tr>
	            </thead>
	            <tbody>
	            	<tr *ngFor="#ciudadanoVehiculo of ciudadanosVehiculo">
	                    <td *ngIf="ciudadanoVehiculo.empresa">{{ciudadanoVehiculo.empresa?.nit}}</td>
	                    <td *ngIf="ciudadanoVehiculo.empresa">{{ciudadanoVehiculo.empresa?.nombre}}</td>
	                    <td *ngIf="ciudadanoVehiculo.empresa">{{ciudadanoVehiculo.empresa?.direccion}}</td>
	                    <td *ngIf="ciudadanoVehiculo.empresa">{{ciudadanoVehiculo.empresa?.correo}}</td>
	                    <td *ngIf="ciudadanoVehiculo.empresa">{{ciudadanoVehiculo.empresa?.telefono}}</td>
	                    <td *ngIf="ciudadanoVehiculo.empresa && !btnSeleccionarApoderado"><input name="options" ng-control="options" type="radio" value={{ciudadanoVehiculo.empresa?.id}} 
	                    (change)="onChangeCiudadano(ciudadanoVehiculo.empresa?.id)"></td>
	                </tr>
	            </tbody> 
	        </table>
	  </div>
	</div>
</div>	

<div *ngIf="tramitesGeneralSeccion" class="col-md-12">
	<div class="panel panel-primary">
	  <div class="panel-heading">Tramites</div>
	  <div class="panel-body">
	  		<h5>Licencias de transito</h5>
		    <table  class="table table-bordered">
	            <thead>
	                <tr>
	                   	<th>Id</th>
	                    <th>vehiculo</th>
	                    <th>numeroQpl</th>
	                    <th>fecha inicial</th>
	                    <th>fecha final</th>
	                    <th>valor</th>
	                    <th>seleccionar</th>
	                </tr>
	            </thead>
	            <tbody> 
	                <tr *ngFor="#tramiteGeneral of tramitesGeneral">
	                    <td >{{tramiteGeneral.id}}</td>
	                    <td >{{tramiteGeneral.vehiculo.placa}}</td>
	                    <td >{{tramiteGeneral.numeroQpl}}</td>
	                    <td >{{tramiteGeneral.fechaInicial}}</td>
	                    <td >{{tramiteGeneral.fechaFinal}}</td>
	                    <td >{{tramiteGeneral.valor}}</td>
	                    <td ><input name="optionstrmiteGeneral" ng-control="optionstrmiteGeneral" type="radio" value={{tramiteGeneral.id}}
	                    (change)="onChangeTramiteGeneral(tramiteGeneral.id)"></td>
	                </tr>
	            </tbody> 
	        </table>

	        <h5>Tramites</h5>

	        <table class="table table-bordered">
	            <thead>
	                <tr>
	                   	<th>Id</th>
	                    <th>Tramite</th>
	                    <th>Tramite General</th>
	                    <th>Variante</th>
	                    <th>Caso</th>
	                    <th>valor</th>
	                </tr>
	            </thead>
	            <tbody> 
	                <tr *ngFor="#tramiteEspecifico of tramiteEspecificos">
                    <td >{{tramiteEspecifico.id}}</td>
                    <td >{{tramiteEspecifico.tramite.nombre}}</td>
                    <td >{{tramiteEspecifico.tramiteGeneral.numeroLicencia}}</td>
                    <td >{{tramiteEspecifico.variante?.nombre}}</td>
                    <td >{{tramiteEspecifico.caso?.nombre}}</td>
                    <td >{{tramiteEspecifico.valor}}</td>
                </tr>
	            </tbody> 
	        </table>

	  </div>
	</div>
</div>

<!-- Modal-->

<div *ngIf="modalCiudadano" data-backdrop="static" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" (click)="btnCancelarModalCedula()"  class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        	<h4 class="modal-title">Registrar Ciudadano</h4>
	      </div>
			<registerCiudadano (ciudadanoCreado)="ciudadanoCreado($event)" [identificacionIngresada]="ciudadano.numeroIdentificacion"></registerCiudadano>
	      <div class="modal-footer">
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
</div> 

<div *ngIf="modalEmpresa" class="modal fade" id="myModalEmpresa" tabindex="-1" role="dialog" aria-labelledby="myModalEmpresaLabel">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" (click)="btnCancelarModalEmpresa()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Registrar Empresa</h4>
	      </div>
			<registerEmpresa (empresaCreada)="empresaCreada($event)" [nitIngresada]="empresa.nit" ></registerEmpresa>
	      <div class="modal-footer">
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
</div>




<script type="text/javascript">
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
$('#myModalEmpresa').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>


   
