<html>
  <header>
  </header>
  <body>
    <p class="text-justify">
    	San Juan de Pasto, {{ fechaActual }}.
    	<br>
    	<br>
    	<br>
    </p>
    <p style="text-align:center;">
        <b>ACTA DE ENTREGA No. {{ asignacion.numeroActa }}</b>
        <br>      
    </p>

    <table border="1">
        <tr style="text-align:center;">
            <td colspan="2">
                <b>ORGANISMO DE TRANSITO</b>
                <br>
                {{ asignacion.organismoTransito.nombre }}
            </td>
        </tr>
        <tr style="text-align:center;font-weight:bold;">
            <td>CANTIDAD</td>
            <td>UNIDAD DE ENTREGA</td>
        </tr>
        <tr style="text-align:center;">
            <td>
                {{ asignacion.cantidadRecibida }}
            </td>
            <td>IPAT Impresos</td>
        </tr>
    </table>
    
    <table style="padding-top:60px;">
        <tr>
            <td width="50%">
FIRMA QUIEN ENTREGA
<br>
Nombre del funcionario
<br>
Cargo
            </td>
            <td style="text-align:right;">
FIRMA DEL INSPECTOR
<br>
Nombre del inspector
            </td>
        </tr>
    </table>
  </body>
</html>