{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svcfggravedadaccidente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ svCfgGravedadAccidente.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ svCfgGravedadAccidente.nombre }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if svCfgGravedadAccidente.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svcfggravedadaccidente_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
