{% extends 'base.html.twig' %}

{% block body %}
    <h1>Frotramite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ froTramite.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ froTramite.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ froTramite.nombre }}</td>
            </tr>
            <tr>
                <th>Sustrato</th>
                <td>{% if froTramite.sustrato %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if froTramite.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('frotramite_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
