<br>
<hr>
<h3>Tramites:</h3>
<hr>
	<div class="table-responsive">
    <a [routerLink]="['/tramite/new']" class="btn btn-success">
         Nuevo
    </a>
    <br>
    <br>
         <div class="identity-data" *ngIf="respuesta">
            <div class="user-identity alert alert-danger" *ngIf="respuesta.status == 'error'">
                {{respuesta.msj}}
            </div>
            <div class="user-identity alert alert-success" *ngIf="respuesta.status == 'success'">
                {{respuesta.msj}}
            </div>
        </div>

        <table class="table  table-condensed table-responsive table-bordered ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Valor</th>
                    <th>Redondeo</th>
                    <th>Unidad</th>
                    <th>Afectacion</th>
                    <th>Modulo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
               <tr *ngFor="#tramite of tramites">
                    <td >{{tramite.id}}</td>
                    <td >{{tramite.nombre}}</td>
                    <td >{{tramite.valor}}</td>
                    <td >{{tramite.redondeo}}</td>
                    <td >{{tramite.unidad}}</td>
                    <td >{{tramite.afectacion}}</td>
                    <td >{{tramite.modulo.nombre}}</td>
                    <td>
                    <button class="btn btn-danger" value="Editar" (click)="deleteTramite(tramite.id)">
                        eliminar
                    </button>
                        
                    <a [routerLink]="['/tramite/show',tramite.id]" class="btn btn-info">
                         Editar
                    </a>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    