{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usercfgempresatipos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userCfgEmpresaTipo in userCfgEmpresaTipos %}
            <tr>
                <td><a href="{{ path('usercfgempresatipo_show', { 'id': userCfgEmpresaTipo.id }) }}">{{ userCfgEmpresaTipo.id }}</a></td>
                <td>{{ userCfgEmpresaTipo.nombre }}</td>
                <td>{% if userCfgEmpresaTipo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usercfgempresatipo_show', { 'id': userCfgEmpresaTipo.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
