{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgcolor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vhloCfgColor.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ vhloCfgColor.nombre }}</td>
            </tr>
            <tr>
                <th>Hexadecimal</th>
                <td>{{ vhloCfgColor.hexadecimal }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if vhloCfgColor.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfgcolor_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
